<%= flash[:notice] %>


<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">





    <%= render 'users/profile', user: @book.user %>

    <%= render 'new_book', book: @books %>
        
    
    </div>
    
      <div lass="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        
        <table class="table">
          <tr>
            <td><%= image_tag @book.user.get_profile_image(100,100) %>
            
            <%= link_to user_path(@book.user.id) do %>
            <p><%= @book.user.name %></p></td>
            <% end %>
            <td>
              <%= link_to book_path do %>
              <%= @book.title %>
              <% end %>
            </td>
            <td><%= @book.body %></td>
        
      
            <%if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book) ,class: "btn btn-sm btn-success" %></td>
            <td><%= link_to "Destroy" , book_path(@book), method: :delete , class: "btn btn-sm btn-danger", data: {confirm: "削除しますか？"} %></td>
            <% end %>
        </tr>
      </div>

    </div>
  </div>
</div>


